@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <h1 class="display-4">Olá.</h1>
    <p>Para acessar Swagger <a href="https://localhost:44366/swagger">clique aqui</a>.</p>
    <p>Swagger possui ações extras que não foram expressadas neste front, devido ao limite de tempo para aprender Bootstrap e aplicar a melhor forma para algumas ações.</p>
    <br />
    <h3 class="display-6">Informações Básicas</h3>
    <p>Cada objeto possui tela própria, sendo <a href="https://localhost:44366/Categorias">Categorias</a> e <a href="https://localhost:44366/Produtos">Produtos</a>.</p>
    <p>Mantido o minimalismo para evitar poluição visual.</p>
    <p>Usado Modais para controle adicional e algumas validações via JS.</p>
    <br />
    <p>Ficou faltando: Adicionar filtro nas tabelas, tal qual paginar resultados da tabela. Função de pesquisar por CategoriaId em Produtos, e ambos objetos via Id ou Nome.</p>
</div>

